* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.titulo {
    text-align: left;
    font-weight: bold;
}

body {
    background-image: url(IMG/backgroundhome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 6vh;
    display: flex;
    position: relative;
}

header img {
    max-width: 100%;
}
.logoimg {
    width: 10%;
    height: auto;
    margin-left: 45%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.conteudo_header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}

.detalhe{
    position: absolute;
    height: 8px;
    width: 100%;
    background: #FF8C00;
}
.header_nav {
    position: absolute;
    height: 40px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.navbar-custom {
    height: 65px;
    background-color: #FF8C00;
    color: #3498DB;
    border-radius: 15px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute; 
    z-index: 1;
    margin-top: 30px;
}
.buttoncustom1 {
    
    border-color: #FF8C00;
    color: #FF8C00;
}
.buttoncustom1:hover{
    background-color: #da6349;
}
li {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    font-size: 18px;
}

.detalhe_header {
    position: relative;
    height: 10px;
    width: 2px;
    background: rgb(134, 134, 134);
}
.gridContainer {
    display: flex;
    justify-content: space-between;
}
.carrosseltest{
    max-width: 100%;
    max-height: 400px;
    
}
/* conteudo */

main {
    margin-top: 300px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -5px;
    background-image: url("./IMG/fundo1.png");
}

p {
    margin-top: 20px;
    width: 56.25rem;
    font-size: 16pt;
}
.retangulo {
    width: auto;
    height: auto;
    position: relative;
    margin-left: 2%;
}
.imagemsticker{
    position: absolute; 
    z-index: 2;
}
.imagemretangulo1{
    margin-top: 20px;
    width: 22.5%;
    height: 600px;
    border-radius: 40px;
    position: absolute;
    left: 0;
    margin-left: 2.5%;
}
.imagemretangulo2{
    margin-top: 20px;
    width: 22.5%;
    height: 600px;
    border-radius: 40px;
    position: absolute;
    right: 0;
    margin-right: 4.3%;
}
.imagemretangulo{
    position: absolute;
    left: 34%;
    margin-top: 400px;
}
.imagemretangulo3{
    position: absolute;
    width: 60%;
    height: 80px;
    margin-top: -70px;
    left: 26.2%; 
}
.imgstickeritem {
    width: 80%;
    height: auto;
    margin-left: 9%;
}
.imgdetalhes {
    width: 20%;
    position: absolute;
    margin-left: 12%;
    margin-top: 4%;
}
.titulo1 {
    font-family: Josefin Sans;
    position: absolute;
    font-size: 20pt;
    margin-top: 23%;
    margin-left: 12%;
    text-align: center;
    width: 20%;
}
.titulo2 {
    font-family: Josefin Sans;
    position: absolute;
    font-size: 20pt;
    margin-top: 9%;
    margin-left: 35%;
    text-align: center;
    width: 20%;
}
.subtexto {
    font-family: Josefin Sans;
    position: absolute;
    text-align: center;
    margin-left: 13%;
    font-size: 11pt;
    width: 18%;
    margin-top: 30%;
}
.textoingredientes{

    font-family: Josefin Sans;
    position: relative;
    font-size: 12pt;
    margin-left: 35%;
    width: 100%;
}
