{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<main>
    <span class="container">
        <div class="d-flex justify-content-center align-items-center">
         <div class="card mb-3" style="height: 500px; width: 450px; background-color: #fcc404;">
             <div class="card-body">
                 <div class="row">
                     <div class="col-md-6 mx-auto">
                         <div class="d-flex flex-column justify-content-center align-items-center">
                            <img src="{{ url_for('static', filename='/IMG/stickerbolinhomond.png')}}" alt="" class="imgdetalhes">
                            <h2 class="titulo1" style="width: 300px;">
                                Bolinho de Batatas Reais
                            </h2>
                            <p class="subtexto" style="width: 270px;">"Um bolinho frito de purê de batata. Um pouco de pinha ajuda a dar uma crocância. Pode ser comido com um pouco de geleia. Amado por pessoas de todas as idades."</p>
                         </div>
                     </div>
                 </div>
             </div>
             </div>
         </div>
         
         <div class="d-flex justify-content-center align-items-center">
           <div class="card text-center mb-3" style="width: 1200px; background-color: #fcc404; ">
             <div class="card-body">
             <div class="row">
                     <div class="d-flex flex-column justify-content-center align-items-center">
                 <div class="col-md-6">
    
                 <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 20;"><h1 class="titulo2" style="width: 300px;">
                     Ingredientes
                     </h1>
                 </div>
                     <ul>
                        <li>
                            <p class="textoingredientes">
                            -500g de batatas
                            </li>
                            <li><p class="textoingredientes">
                            -1 ovo</p>
                            </li>
                            <li><p class="textoingredientes">
                            -1/2 cebola picada</p>
                            </li>
                            <li><p class="textoingredientes">
                            -2 dentes de alho picados</p>
                            </li>
                            <li><p class="textoingredientes">
                            -1/4 de xícara de farinha de rosca</p>
                            </li>
                            <li><p class="textoingredientes">
                            -1/4 de xícara de queijo parmesão ralado</p>
                            </li>
                            <li><p class="textoingredientes">
                            -Sal e pimenta a gosto</p>
                            </li>
                            <li><p class="textoingredientes">
                            -Óleo vegetal para fritar</p>
                            </li>
                     </ul>
                 
                 
                 </div>
                 
                 
                 <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 20px;"><h1 class="titulo2" style=" width: 300px;">
                     Instruções
                     </h1>
                 </div>
                     
                 <li>
                    <p class="textoingredientes" style="margin-top: -12px;font-size: 10pt;">
                    1. Descasque as batatas, corte-as em pedaços e cozinhe em água fervente até ficarem macias. Escorra bem e amasse as batatas em um recipiente grande.
                    </li>
                    <li><p class="textoingredientes"style="margin-top: -12px;font-size: 10pt;">
                    2. Adicione o ovo, a cebola picada, o alho picado, a farinha de rosca e o queijo parmesão às batatas amassadas. Tempere com sal e pimenta a gosto. Misture bem até obter uma massa homogênea.</p>
                    </li>
                    <li><p class="textoingredientes"style="margin-top: -12px;font-size: 10pt;">
                    3. Modele pequenos bolinhos com as mãos a partir da massa.</p>
                    </li>
                    <li><p class="textoingredientes"style="margin-top: -12px;font-size: 10pt;">
                    4. Aqueça o óleo vegetal em uma panela funda a 180°C.</p>
                    </li>
                    <li><p class="textoingredientes"style="margin-top: -12px;font-size: 10pt;">
                    5. Frite os bolinhos até que fiquem dourados e crocantes. Certifique-se de não lotar a panela para que os bolinhos fritem uniformemente.</p>
                    </li>
                    <li><p class="textoingredientes"style="margin-top: -12px;font-size: 10pt;">
                    6. Retire os bolinhos da panela e coloque-os sobre papel absorvente para remover o excesso de óleo.</p>
                    </li>
                    <li><p class="textoingredientes"style="margin-top: -12px;font-size: 10pt;">
                    7. Sirva quente e aproveite seus bolinhos de batata caseiros!</p>
                    </li>
                     </ul>
                 </div>
                         
                     </div>
                   </div>
                 </div>
             </div>
         </div>
         
     </span>
</main>
{% endblock %}